main {
  background-color: brown;
}

.earth_layer_table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  background-color: blue;
  border-spacing: 0px;

}

.single_layer_formatting {
  border-spacing: 0px;
}