<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Earth Exposed</title>
  
  <meta http-equiv="Cache-Control" content="no-store" />
  <link href="{{ url_for('static', filename='css/cutaway_view.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <main id="bore_hole_display">
    <table class="earth_layer_table">
      <tr>
        <td class="single_layer_formatting"><img src="../static/assets/earth_content/you.png"/></td>
      </tr>
      {% for layer in bore_hole_data.lithological_data.label %}
      <tr>
        <td class="single_layer_formatting" ><img style="height: {{bore_hole_data.lithological_data.depth[loop.index0] }}" src="../static/assets/earth_content/{{layer}}.png" alt={{layer}}></td>
      </tr>
      {% endfor %}
    </table>
  </main>
</body>
</html>