<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Earth Exposed</title>
  
  <meta http-equiv="Cache-Control" content="no-store" />
  <link href="{{ url_for('static', filename='css/cutaway_view.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <main id="bore_hole_display">
    <h4>See the rocks underneath your feet.</h4>
    <table class="earth_layer_table">
    {% for layer in bore_hole_data.lithological_data %}
      <tr>
        <td class="single_layer_formatting"><img src="../static/assets/earth_content/the_rock.jpg" alt={{layer}}></td>
      </tr>
    {% endfor %}
    </table>
  </main>
</body>
</html>